@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 

.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    margin-top: 50px;
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
   
}
.nav-links li{
    list-style: none;
    margin-left: 50px;
    
}
.nav-links li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);

}
.brand{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 129px;
}
.brand-title{
    color: rgba(19, 19, 19, 1);
    font-size: 4rem;
    font-weight: 700;
}
.brand-description{
    color: #727272;
    margin: 5px 0 10px 0;
}
.brand-btn{
    text-align: center;
}
.btn-primary{
    font-size: 1.20rem;
    font-weight: 600;
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}
.architect-img{
    width: 100%;
    margin-top: 30px;
}

/* main style start here */
/* team-section style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-section{
 display: flex;
 margin-top: 50px;

    
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    margin-left: 50px;
}
.team-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 537px;
    margin-left: 50px;


}
.quick-list{
    font-size: 2.8rem;
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}
.of{
    font-size: 2.8rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);


}
.feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-description{
    margin: 24px 0 32px 0;
    color: rgba(114, 114, 114, 1);
}
.love-feature-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
  
}
.love-feature-description{
    margin: 30px 0;
}
.love-card{
    max-width: 586px;
    border-radius: 8px;
    box-shadow:0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 30px 42px 30px 30px;
   
}
.love-card-title{
    margin-bottom: 10px;
    font-size: 1.20rem;
    font-size: 500;
}
.love-card-description{
    color: rgba(114, 114, 114, 1);
}
.feature-love-enjoy{
margin-top: 130px;
display: flex;
gap: 54px;
}
.experiec-badge{
    padding: 42px 45px;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-left: -100px;
    margin-top: -100px;

}
.years{
    font-size: 4rem;
    font-weight: 700;
}
.ex{
    font-size: 1.5rem;
    font-weight: 500;
}
/* meadia query style */
@media screen and (max-width: 576px) {
    .header, 
    .links,
    .team-section,
    .feature-love-enjoy
    {
        flex-direction: column;
    }
    .links li{
        margin: 10px;
    }
    .teams-img{
        max-width: 342px;
        grid-template-columns: 1fr;
        margin-left: 10px;
    }
    .teams-img img{
        width: 100%;
    }
    .img-box img{
        width: 100%;
    }
    .experiec-badge{
        padding: 42px 45px;
        background-color: #FF900E;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        margin-left: 10px;
        margin-top: 0;
        margin-top: 10px;
    
    }
    
   

   
    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-section,
    .feature-love-enjoy{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0;
        gap: 0;
    }
     .links li{
        margin: 10px;
    }
    .experiec-badge{
        padding: 42px 45px;
        background-color: #FF900E;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        margin-top: -200px;
        margin-left: 0px;
    
    }
}